@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 48px;

  /*========== Colors ==========*/
  --title-color: #333;
  --title-color-dark: #000;
  --text-color: #757575;
  --body-color: #fafafa;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 56px;
  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --smaller-font-size: 13px;
  --tiny-font-size: 10px;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 4px;
  --mb-0-5: 8px;
  --mb-0-75: 12px;
  --mb-1: 16px;
  --mb-1-5: 24px;
  --mb-2: 32px;
  --mb-2-5: 40px;
  --mb-3: 48px;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 44px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 16px
    --normal-font-size: 15px;
    --small-font-size: 13px;
    --smaller-font-size: 12px;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3{
  color: val(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  width: 100%;
  height: auto;
}

section {
  padding: 48px 0 16px;
}

.section__title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 32px;
}

.section__title,
.section__subtitle{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  display: grid;
  gap: 24px;
}

.button{
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 20px 32px;
  border-radius: 16px;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--title-color-dark);
}

.button__icon{
  margin-left: var(--mb-0-5);
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){
  
}

@media screen and (max-width: 576px){
  
}

@media  screen and (max-width: 350px) {
  
}